<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <!--begin::Container-->
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">About Us</h1>
                <!--end::Title-->
                <!--begin::Separator-->
                <span class="h-20px border-gray-200 border-start mx-4"></span>
                <!--end::Separator-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        <a href="#!/home" class="text-muted text-hover-primary">Home</a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">Pages</li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-200 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-dark">About Us</li>
                    <!--end::Item-->
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center py-1">
  
            </div>
            <!--end::Actions-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container">
            <!--begin::About card-->
            <div class="card">
                <!--begin::Body-->
                <div class="card-body p-lg-17">
                    <!--begin::About-->
                    <div class="mb-18">
                        <!--begin::Wrapper-->
                        <div class="mb-10">
                            <!--begin::Top-->
                            <div class="text-center mb-15">
                                <!--begin::Title-->
                                <h3 class="fs-2hx text-dark mb-5">About Us</h3>
                                <!--end::Title-->
                                <!--begin::Text-->
                                <div class="fs-5 text-muted fw-bold">
                                    Within the last 10 years, we have sold over 100,000 admin theme copies that have been
                                    <br>successfully deployed by small businesses to global enterprises
                                </div>
                                <!--end::Text-->
                            </div>
                            <!--end::Top-->
                            <!--begin::Overlay-->
                            <div class="overlay">
                                <!--begin::Image-->
                                <img class="w-100 card-rounded" src="../../assets/media/stock/2000x800/1.jpg" alt="">
                                <!--end::Image-->
                                <!--begin::Links-->
                                <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                                    <a href="pricing.html" class="btn btn-primary">Pricing</a>
                                    <a href="../careers/apply.html" class="btn btn-light-primary ms-3">Join Us</a>
                                </div>
                                <!--end::Links-->
                            </div>
                            <!--end::Container-->
                        </div>
                        <!--end::Wrapper-->
                        <!--begin::Description-->
                        <div class="fs-5 fw-bold text-gray-600">
                            <!--begin::Text-->
                            <p class="mb-8">
                                First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words per minute and your writing skills are sharp. From the seed of the idea to finally hitting “Publish,” you might spend several days or maybe even a week “writing” a blog post, but it’s important to spend those vital hours planning your post and even thinking about
                                <a href="../blog/post.html" class="link-primary pe-1">Your Post</a>(yes, thinking counts as working if you’re a blogger) before you actually write it.
                            </p>
                            <!--end::Text-->
                            <!--begin::Text-->
                            <p class="mb-8">
                                There’s an old maxim that states,
                                <span class="text-gray-800 pe-1">“No fun for the writer, no fun for the reader.”</span>No matter what industry you’re working in, as a blogger, you should live and die by this statement.
                            </p>
                            <!--end::Text-->
                            <!--begin::Text-->
                            <p class="mb-8">
                                Before you do any of the following steps, be sure to pick a topic that actually interests you. Nothing – and
                                <a href="../blog/home.html" class="link-primary pe-1">I mean NOTHING</a>– will kill a blog post more effectively than a lack of enthusiasm from the writer. You can tell when a writer is bored by their subject, and it’s so cringe-worthy it’s a little embarrassing.
                            </p>
                            <!--end::Text-->
                            <!--begin::Text-->
                            <p class="mb-17">I can hear your objections already. “But Dan, I have to blog for a cardboard box manufacturing company.” I feel your pain, I really do. During the course of my career, I’ve written content for dozens of clients in some less-than-thrilling industries (such as financial regulatory compliance and corporate housing), but the hallmark of a professional blogger is the ability to write well about any topic, no matter how dry it may be. Blogging is a lot easier, however, if you can muster at least a little enthusiasm for the topic at hand.</p>
                            <!--end::Text-->
                        </div>
                        <!--end::Description-->
                    </div>
                    <!--end::About-->
                    <!--begin::Statistics-->
                    <div class="card bg-light mb-18">
                        <!--begin::Body-->
                        <div class="card-body py-15">
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-center">
                                <!--begin::Items-->
                                <div class="d-flex justify-content-between mb-10 mx-auto w-xl-900px">
                                    <!--begin::Item-->
                                    <div class="octagon d-flex flex-center h-200px w-200px bg-body mx-2">
                                        <!--begin::Content-->
                                        <div class="text-center">
                                            <!--begin::Symbol-->
                                            <!--begin::Svg Icon | path: icons/duotone/Layout/Layout-4-blocks.svg-->
                                            <span class="svg-icon svg-icon-2tx svg-icon-primary">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24"></rect>
                                                        <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5"></rect>
                                                        <path d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z" fill="#000000" opacity="0.3"></path>
                                                    </g>
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                            <!--end::Symbol-->
                                            <!--begin::Text-->
                                            <div class="mt-1">
                                                <!--begin::Animation-->
                                                <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center">
                                                    <div class="min-w-70px counted" data-kt-countup="true" data-kt-countup-value="700">700</div>+
                                                </div>
                                                <!--end::Animation-->
                                                <!--begin::Label-->
                                                <span class="text-gray-600 fw-bold fs-5 lh-0">Businesses</span>
                                                <!--end::Label-->
                                            </div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="octagon d-flex flex-center h-200px w-200px bg-body mx-2">
                                        <!--begin::Content-->
                                        <div class="text-center">
                                            <!--begin::Symbol-->
                                            <!--begin::Svg Icon | path: icons/duotone/Interface/Pie-04.svg-->
                                            <span class="svg-icon svg-icon-2tx svg-icon-success">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" d="M13.998 21.9445C13.4491 22.0057 13 21.5523 13 21L13 14C13 13.4477 13.4477 13 14 13L21 13C21.5523 13 22.0058 13.4491 21.9445 13.998C21.8509 14.8372 21.6394 15.6609 21.3149 16.4442C20.8626 17.5361 20.1997 18.5282 19.364 19.364C18.5282 20.1997 17.5361 20.8626 16.4442 21.3149C15.6609 21.6394 14.8373 21.8509 13.998 21.9445Z" fill="#12131A"></path>
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9445 10.0019C22.0057 10.5508 21.5523 10.9999 21 10.9999L14 10.9999C13.4477 10.9999 13 10.5521 13 9.99986L13 2.99986C13 2.44758 13.4491 1.99412 13.9979 2.05536C14.8372 2.149 15.6609 2.3605 16.4441 2.68495C17.5361 3.13724 18.5282 3.80017 19.3639 4.6359C20.1997 5.47163 20.8626 6.46378 21.3149 7.55571C21.6393 8.33899 21.8508 9.16262 21.9445 10.0019Z" fill="#12131A"></path>
                                                    <path opacity="0.25" fill-rule="evenodd" clip-rule="evenodd" d="M10.002 3.05559C10.5509 2.99437 11 3.44784 11 4.00012L11 20.0001C11 20.5524 10.5509 21.0059 10.002 20.9446C7.98222 20.7193 6.08694 19.815 4.63604 18.3641C2.94821 16.6763 2 14.3871 2 12.0001C2 9.61317 2.94821 7.32398 4.63604 5.63616C6.08694 4.18525 7.98222 3.2809 10.002 3.05559Z" fill="#12131A"></path>
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                            <!--end::Symbol-->
                                            <!--begin::Text-->
                                            <div class="mt-1">
                                                <!--begin::Animation-->
                                                <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center">
                                                    <div class="min-w-50px counted" data-kt-countup="true" data-kt-countup-value="80">80</div>K+
                                                </div>
                                                <!--end::Animation-->
                                                <!--begin::Label-->
                                                <span class="text-gray-600 fw-bold fs-5 lh-0">Quick Reports</span>
                                                <!--end::Label-->
                                            </div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="octagon d-flex flex-center h-200px w-200px bg-body mx-2">
                                        <!--begin::Content-->
                                        <div class="text-center">
                                            <!--begin::Symbol-->
                                            <!--begin::Svg Icon | path: icons/duotone/Shopping/Cart4.svg-->
                                            <span class="svg-icon svg-icon-2tx svg-icon-info">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <path opacity="0.25" d="M3.19406 11.1644C3.09247 10.5549 3.56251 10 4.18045 10H19.8195C20.4375 10 20.9075 10.5549 20.8059 11.1644L19.4178 19.4932C19.1767 20.9398 17.9251 22 16.4586 22H7.54138C6.07486 22 4.82329 20.9398 4.58219 19.4932L3.19406 11.1644Z" fill="#7E8299"></path>
                                                    <path d="M2 9.5C2 8.67157 2.67157 8 3.5 8H20.5C21.3284 8 22 8.67157 22 9.5C22 10.3284 21.3284 11 20.5 11H3.5C2.67157 11 2 10.3284 2 9.5Z" fill="#7E8299"></path>
                                                    <path d="M10 13C9.44772 13 9 13.4477 9 14V18C9 18.5523 9.44772 19 10 19C10.5523 19 11 18.5523 11 18V14C11 13.4477 10.5523 13 10 13Z" fill="#7E8299"></path>
                                                    <path d="M14 13C13.4477 13 13 13.4477 13 14V18C13 18.5523 13.4477 19 14 19C14.5523 19 15 18.5523 15 18V14C15 13.4477 14.5523 13 14 13Z" fill="#7E8299"></path>
                                                    <g opacity="0.25">
                                                        <path d="M10.7071 3.70711C11.0976 3.31658 11.0976 2.68342 10.7071 2.29289C10.3166 1.90237 9.68342 1.90237 9.29289 2.29289L4.29289 7.29289C3.90237 7.68342 3.90237 8.31658 4.29289 8.70711C4.68342 9.09763 5.31658 9.09763 5.70711 8.70711L10.7071 3.70711Z" fill="#7E8299"></path>
                                                        <path d="M13.2929 3.70711C12.9024 3.31658 12.9024 2.68342 13.2929 2.29289C13.6834 1.90237 14.3166 1.90237 14.7071 2.29289L19.7071 7.29289C20.0976 7.68342 20.0976 8.31658 19.7071 8.70711C19.3166 9.09763 18.6834 9.09763 18.2929 8.70711L13.2929 3.70711Z" fill="#7E8299"></path>
                                                    </g>
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                            <!--end::Symbol-->
                                            <!--begin::Text-->
                                            <div class="mt-1">
                                                <!--begin::Animation-->
                                                <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center">
                                                    <div class="min-w-50px counted" data-kt-countup="true" data-kt-countup-value="35">35</div>M+
                                                </div>
                                                <!--end::Animation-->
                                                <!--begin::Label-->
                                                <span class="text-gray-600 fw-bold fs-5 lh-0">Payments</span>
                                                <!--end::Label-->
                                            </div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Item-->
                                </div>
                                <!--end::Items-->
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Testimonial-->
                            <div class="fs-2 fw-bold text-muted text-center mb-3">
                                <span class="fs-1 lh-1 text-gray-700">“</span>When you care about your topic, you’ll write about it in a
                                <br>
                                <span class="text-gray-700 me-1">more powerful</span>, emotionally expressive way
                                <span class="fs-1 lh-1 text-gray-700">“</span>
                            </div>
                            <!--end::Testimonial-->
                            <!--begin::Author-->
                            <div class="fs-2 fw-bold text-muted text-center">
                                <a href="../../account/security.html" class="link-primary fs-4 fw-bolder">Marcus Levy</a>
                                <span class="fs-4 fw-bolder text-gray-600">,KeenThemes CEO</span>
                            </div>
                            <!--end::Author-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Statistics-->
                    <!--begin::Section-->
                    <div class="mb-16">
                        <!--begin::Top-->
                        <div class="text-center mb-12">
                            <!--begin::Title-->
                            <h3 class="fs-2hx text-dark mb-5">Publications</h3>
                            <!--end::Title-->
                            <!--begin::Text-->
                            <div class="fs-5 text-muted fw-bold">
                                Our goal is to provide a complete and robust theme solution
                                <br>to boost all of our customer’s project deployments
                            </div>
                            <!--end::Text-->
                        </div>
                        <!--end::Top-->
                        <!--begin::Row-->
                        <div class="row g-10">
                            <!--begin::Col-->
                            <div class="col-md-4">
                                <!--begin::Publications post-->
                                <div class="card-xl-stretch me-md-6">
                                    <!--begin::Overlay-->
                                    <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="../../assets/media/stock/600x400/img-73.jpg">
                                        <!--begin::Image-->
                                        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('../../assets/media/stock/600x400/img-73.jpg')"></div>
                                        <!--end::Image-->
                                        <!--begin::Action-->
                                        <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                            <i class="bi bi-eye-fill fs-2x text-white"></i>
                                        </div>
                                        <!--end::Action-->
                                    </a>
                                    <!--end::Overlay-->
                                    <!--begin::Body-->
                                    <div class="m-0">
                                        <!--begin::Title-->
                                        <a href="../profile/overview.html" class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">Metronic Admin - How To Started the Dashboard Tutorial</a>
                                        <!--end::Title-->
                                        <!--begin::Text-->
                                        <div class="fw-bold fs-5 text-gray-600 text-dark mt-3 mb-5">We’ve been focused on making a the from also not been afraid to and step away been focused create eye</div>
                                        <!--end::Text-->
                                        <!--begin::Content-->
                                        <div class="fs-6 fw-bolder">
                                            <!--begin::Author-->
                                            <a href="../projects/users.html" class="text-gray-700 text-hover-primary">Jane Miller</a>
                                            <!--end::Author-->
                                            <!--begin::Date-->
                                            <span class="text-muted">on Mar 21 2021</span>
                                            <!--end::Date-->
                                        </div>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Body-->
                                </div>
                                <!--end::Publications post-->
                            </div>
                            <!--end::Col-->
                            <!--begin::Col-->
                            <div class="col-md-4">
                                <!--begin::Publications post-->
                                <div class="card-xl-stretch mx-md-3">
                                    <!--begin::Overlay-->
                                    <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="../../assets/media/stock/600x400/img-74.jpg">
                                        <!--begin::Image-->
                                        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('../../assets/media/stock/600x400/img-74.jpg')"></div>
                                        <!--end::Image-->
                                        <!--begin::Action-->
                                        <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                            <i class="bi bi-eye-fill fs-2x text-white"></i>
                                        </div>
                                        <!--end::Action-->
                                    </a>
                                    <!--end::Overlay-->
                                    <!--begin::Body-->
                                    <div class="m-0">
                                        <!--begin::Title-->
                                        <a href="../profile/overview.html" class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">Metronic Admin - How To Started the Dashboard Tutorial</a>
                                        <!--end::Title-->
                                        <!--begin::Text-->
                                        <div class="fw-bold fs-5 text-gray-600 text-dark mt-3 mb-5">We’ve been focused on making the from v4 to v5 but we have also not been afraid to step away been focused</div>
                                        <!--end::Text-->
                                        <!--begin::Content-->
                                        <div class="fs-6 fw-bolder">
                                            <!--begin::Author-->
                                            <a href="../projects/users.html" class="text-gray-700 text-hover-primary">Cris Morgan</a>
                                            <!--end::Author-->
                                            <!--begin::Date-->
                                            <span class="text-muted">on Apr 14 2021</span>
                                            <!--end::Date-->
                                        </div>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Body-->
                                </div>
                                <!--end::Publications post-->
                            </div>
                            <!--end::Col-->
                            <!--begin::Col-->
                            <div class="col-md-4">
                                <!--begin::Publications post-->
                                <div class="card-xl-stretch ms-md-6">
                                    <!--begin::Overlay-->
                                    <a class="d-block overlay mb-4" data-fslightbox="lightbox-hot-sales" href="../../assets/media/stock/600x400/img-47.jpg">
                                        <!--begin::Image-->
                                        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-175px" style="background-image:url('../../assets/media/stock/600x400/img-47.jpg')"></div>
                                        <!--end::Image-->
                                        <!--begin::Action-->
                                        <div class="overlay-layer bg-dark card-rounded bg-opacity-25">
                                            <i class="bi bi-eye-fill fs-2x text-white"></i>
                                        </div>
                                        <!--end::Action-->
                                    </a>
                                    <!--end::Overlay-->
                                    <!--begin::Body-->
                                    <div class="m-0">
                                        <!--begin::Title-->
                                        <a href="../profile/overview.html" class="fs-4 text-dark fw-bolder text-hover-primary text-dark lh-base">Metronic Admin - How To Started the Dashboard Tutorial</a>
                                        <!--end::Title-->
                                        <!--begin::Text-->
                                        <div class="fw-bold fs-5 text-gray-600 text-dark mt-3 mb-5">We’ve been focused on making the from v4 to v5 but we’ve also not been afraid to step away been focused</div>
                                        <!--end::Text-->
                                        <!--begin::Content-->
                                        <div class="fs-6 fw-bolder">
                                            <!--begin::Author-->
                                            <a href="../projects/users.html" class="text-gray-700 text-hover-primary">Carles Nilson</a>
                                            <!--end::Author-->
                                            <!--begin::Date-->
                                            <span class="text-muted">on May 14 2021</span>
                                            <!--end::Date-->
                                        </div>
                                        <!--end::Content-->
                                    </div>
                                    <!--end::Body-->
                                </div>
                                <!--end::Publications post-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Section-->
                    <!--begin::Team-->
                    <div class="mb-18">
                        <!--begin::Heading-->
                        <div class="text-center mb-12">
                            <!--begin::Title-->
                            <h3 class="fs-2hx text-dark mb-5">Our Great Team</h3>
                            <!--end::Title-->
                            <!--begin::Sub-title-->
                            <div class="fs-5 text-muted fw-bold">
                                It’s no doubt that when a development takes longer to complete, additional costs to
                                <br>integrate and test each extra feature creeps up and haunts most of us.
                            </div>
                            <!--end::Sub-title=-->
                        </div>
                        <!--end::Heading-->
                        <!--begin::Slider-->
                        <div class="tns tns-default mb-10 tns-initiazlied">
                            <!--begin::Wrapper-->
                            <div class="tns-outer" id="tns1-ow">
                                <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">7 to 9</span>  of 7</div><div id="tns1-mw" class="tns-ovh">
                                    <div class="tns-inner" id="tns1-iw">
                                        <div data-tns="true" data-tns-loop="true" data-tns-swipe-angle="false" data-tns-speed="2000" data-tns-autoplay="true" data-tns-autoplay-timeout="18000" data-tns-controls="true" data-tns-nav="false" data-tns-items="1" data-tns-center="false" data-tns-dots="false" data-tns-prev-button="#kt_team_slider_prev" data-tns-next-button="#kt_team_slider_next" data-tns-responsive="{1200: {items: 3}, 992: {items: 2}}" class="  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="tns1" style="transform: translate3d(-40%, 0px, 0px);">
                                            <div class="text-center tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                                <!--begin::Photo-->
                                                <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../assets/media/avatars/150-5.jpg')"></div>
                                                <!--end::Photo-->
                                                <!--begin::Person-->
                                                <div class="mb-0">
                                                    <!--begin::Name-->
                                                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Anne Clarc</a>
                                                    <!--end::Name-->
                                                    <!--begin::Position-->
                                                    <div class="text-muted fs-6 fw-bold mt-1">Project Manager</div>
                                                    <!--begin::Position-->
                                                </div>
                                                <!--end::Person-->
                                            </div><div class="text-center tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                                <!--begin::Photo-->
                                                <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../assets/media/avatars/150-6.jpg')"></div>
                                                <!--end::Photo-->
                                                <!--begin::Person-->
                                                <div class="mb-0">
                                                    <!--begin::Name-->
                                                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Ricky Hunt</a>
                                                    <!--end::Name-->
                                                    <!--begin::Position-->
                                                    <div class="text-muted fs-6 fw-bold mt-1">Art Director</div>
                                                    <!--begin::Position-->
                                                </div>
                                                <!--end::Person-->
                                            </div><div class="text-center tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                                <!--begin::Photo-->
                                                <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../assets/media/avatars/150-7.jpg')"></div>
                                                <!--end::Photo-->
                                                <!--begin::Person-->
                                                <div class="mb-0">
                                                    <!--begin::Name-->
                                                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Alice Wayde</a>
                                                    <!--end::Name-->
                                                    <!--begin::Position-->
                                                    <div class="text-muted fs-6 fw-bold mt-1">Marketing Manager</div>
                                                    <!--begin::Position-->
                                                </div>
                                                <!--end::Person-->
                                            </div><div class="text-center tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                                <!--begin::Photo-->
                                                <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../assets/media/avatars/150-8.jpg')"></div>
                                                <!--end::Photo-->
                                                <!--begin::Person-->
                                                <div class="mb-0">
                                                    <!--begin::Name-->
                                                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Carles Puyol</a>
                                                    <!--end::Name-->
                                                    <!--begin::Position-->
                                                    <div class="text-muted fs-6 fw-bold mt-1">QA Managers</div>
                                                    <!--begin::Position-->
                                                </div>
                                                <!--end::Person-->
                                            </div>
                                            <!--begin::Item-->
                                            <div class="text-center tns-item" id="tns1-item0" aria-hidden="true" tabindex="-1">
                                                <!--begin::Photo-->
                                                <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../assets/media/avatars/150-2.jpg')"></div>
                                                <!--end::Photo-->
                                                <!--begin::Person-->
                                                <div class="mb-0">
                                                    <!--begin::Name-->
                                                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Paul Miles</a>
                                                    <!--end::Name-->
                                                    <!--begin::Position-->
                                                    <div class="text-muted fs-6 fw-bold mt-1">Development Lead</div>
                                                    <!--begin::Position-->
                                                </div>
                                                <!--end::Person-->
                                            </div>
                                            <!--end::Item-->
                                            <!--begin::Item-->
                                            <div class="text-center tns-item" id="tns1-item1" aria-hidden="true" tabindex="-1">
                                                <!--begin::Photo-->
                                                <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../assets/media/avatars/150-3.jpg')"></div>
                                                <!--end::Photo-->
                                                <!--begin::Person-->
                                                <div class="mb-0">
                                                    <!--begin::Name-->
                                                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Melisa Marcus</a>
                                                    <!--end::Name-->
                                                    <!--begin::Position-->
                                                    <div class="text-muted fs-6 fw-bold mt-1">Creative Director</div>
                                                    <!--begin::Position-->
                                                </div>
                                                <!--end::Person-->
                                            </div>
                                            <!--end::Item-->
                                            <!--begin::Item-->
                                            <div class="text-center tns-item tns-slide-active" id="tns1-item2">
                                                <!--begin::Photo-->
                                                <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../assets/media/avatars/150-4.jpg')"></div>
                                                <!--end::Photo-->
                                                <!--begin::Person-->
                                                <div class="mb-0">
                                                    <!--begin::Name-->
                                                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">David Nilson</a>
                                                    <!--end::Name-->
                                                    <!--begin::Position-->
                                                    <div class="text-muted fs-6 fw-bold mt-1">Python Expert</div>
                                                    <!--begin::Position-->
                                                </div>
                                                <!--end::Person-->
                                            </div>
                                            <!--end::Item-->
                                            <!--begin::Item-->
                                            <div class="text-center tns-item tns-slide-active" id="tns1-item3">
                                                <!--begin::Photo-->
                                                <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../assets/media/avatars/150-5.jpg')"></div>
                                                <!--end::Photo-->
                                                <!--begin::Person-->
                                                <div class="mb-0">
                                                    <!--begin::Name-->
                                                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Anne Clarc</a>
                                                    <!--end::Name-->
                                                    <!--begin::Position-->
                                                    <div class="text-muted fs-6 fw-bold mt-1">Project Manager</div>
                                                    <!--begin::Position-->
                                                </div>
                                                <!--end::Person-->
                                            </div>
                                            <!--end::Item-->
                                            <!--begin::Item-->
                                            <div class="text-center tns-item tns-slide-active" id="tns1-item4">
                                                <!--begin::Photo-->
                                                <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../assets/media/avatars/150-6.jpg')"></div>
                                                <!--end::Photo-->
                                                <!--begin::Person-->
                                                <div class="mb-0">
                                                    <!--begin::Name-->
                                                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Ricky Hunt</a>
                                                    <!--end::Name-->
                                                    <!--begin::Position-->
                                                    <div class="text-muted fs-6 fw-bold mt-1">Art Director</div>
                                                    <!--begin::Position-->
                                                </div>
                                                <!--end::Person-->
                                            </div>
                                            <!--end::Item-->
                                            <!--begin::Item-->
                                            <div class="text-center tns-item" id="tns1-item5" aria-hidden="true" tabindex="-1">
                                                <!--begin::Photo-->
                                                <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../assets/media/avatars/150-7.jpg')"></div>
                                                <!--end::Photo-->
                                                <!--begin::Person-->
                                                <div class="mb-0">
                                                    <!--begin::Name-->
                                                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Alice Wayde</a>
                                                    <!--end::Name-->
                                                    <!--begin::Position-->
                                                    <div class="text-muted fs-6 fw-bold mt-1">Marketing Manager</div>
                                                    <!--begin::Position-->
                                                </div>
                                                <!--end::Person-->
                                            </div>
                                            <!--end::Item-->
                                            <!--begin::Item-->
                                            <div class="text-center tns-item" id="tns1-item6" aria-hidden="true" tabindex="-1">
                                                <!--begin::Photo-->
                                                <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../assets/media/avatars/150-8.jpg')"></div>
                                                <!--end::Photo-->
                                                <!--begin::Person-->
                                                <div class="mb-0">
                                                    <!--begin::Name-->
                                                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Carles Puyol</a>
                                                    <!--end::Name-->
                                                    <!--begin::Position-->
                                                    <div class="text-muted fs-6 fw-bold mt-1">QA Managers</div>
                                                    <!--begin::Position-->
                                                </div>
                                                <!--end::Person-->
                                            </div>
                                            <!--end::Item-->
                                            <div class="text-center tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                                <!--begin::Photo-->
                                                <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../assets/media/avatars/150-2.jpg')"></div>
                                                <!--end::Photo-->
                                                <!--begin::Person-->
                                                <div class="mb-0">
                                                    <!--begin::Name-->
                                                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Paul Miles</a>
                                                    <!--end::Name-->
                                                    <!--begin::Position-->
                                                    <div class="text-muted fs-6 fw-bold mt-1">Development Lead</div>
                                                    <!--begin::Position-->
                                                </div>
                                                <!--end::Person-->
                                            </div><div class="text-center tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                                <!--begin::Photo-->
                                                <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../assets/media/avatars/150-3.jpg')"></div>
                                                <!--end::Photo-->
                                                <!--begin::Person-->
                                                <div class="mb-0">
                                                    <!--begin::Name-->
                                                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Melisa Marcus</a>
                                                    <!--end::Name-->
                                                    <!--begin::Position-->
                                                    <div class="text-muted fs-6 fw-bold mt-1">Creative Director</div>
                                                    <!--begin::Position-->
                                                </div>
                                                <!--end::Person-->
                                            </div><div class="text-center tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                                <!--begin::Photo-->
                                                <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../assets/media/avatars/150-4.jpg')"></div>
                                                <!--end::Photo-->
                                                <!--begin::Person-->
                                                <div class="mb-0">
                                                    <!--begin::Name-->
                                                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">David Nilson</a>
                                                    <!--end::Name-->
                                                    <!--begin::Position-->
                                                    <div class="text-muted fs-6 fw-bold mt-1">Python Expert</div>
                                                    <!--begin::Position-->
                                                </div>
                                                <!--end::Person-->
                                            </div><div class="text-center tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                                <!--begin::Photo-->
                                                <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('../../assets/media/avatars/150-5.jpg')"></div>
                                                <!--end::Photo-->
                                                <!--begin::Person-->
                                                <div class="mb-0">
                                                    <!--begin::Name-->
                                                    <a href="#" class="text-dark fw-bolder text-hover-primary fs-3">Anne Clarc</a>
                                                    <!--end::Name-->
                                                    <!--begin::Position-->
                                                    <div class="text-muted fs-6 fw-bold mt-1">Project Manager</div>
                                                    <!--begin::Position-->
                                                </div>
                                                <!--end::Person-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Button-->
                            <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_prev" aria-controls="tns1" tabindex="-1" data-controls="prev">
                                <!--begin::Svg Icon | path: icons/duotone/Navigation/Angle-left.svg-->
                                <span class="svg-icon svg-icon-3x">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                            <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-12.000003, -11.999999)"></path>
                                        </g>
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            </button>
                            <!--end::Button-->
                            <!--begin::Button-->
                            <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_next" aria-controls="tns1" tabindex="-1" data-controls="next">
                                <!--begin::Svg Icon | path: icons/duotone/Navigation/Angle-right.svg-->
                                <span class="svg-icon svg-icon-3x">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                            <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-270.000000) translate(-12.000003, -11.999999)"></path>
                                        </g>
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            </button>
                            <!--end::Button-->
                        </div>
                        <!--end::Slider-->
                    </div>
                    <!--end::Team-->
                    <!--begin::Card-->
                    <div class="card mb-4 bg-light text-center">
                        <!--begin::Body-->
                        <div class="card-body py-12">
                            <!--begin::Icon-->
                            <a href="#" class="mx-4">
                                <img src="../../assets/media/svg/brand-logos/facebook-4.svg" class="h-30px my-2" alt="">
                            </a>
                            <!--end::Icon-->
                            <!--begin::Icon-->
                            <a href="#" class="mx-4">
                                <img src="../../assets/media/svg/brand-logos/instagram-2-1.svg" class="h-30px my-2" alt="">
                            </a>
                            <!--end::Icon-->
                            <!--begin::Icon-->
                            <a href="#" class="mx-4">
                                <img src="../../assets/media/svg/brand-logos/github.svg" class="h-30px my-2" alt="">
                            </a>
                            <!--end::Icon-->
                            <!--begin::Icon-->
                            <a href="#" class="mx-4">
                                <img src="../../assets/media/svg/brand-logos/behance.svg" class="h-30px my-2" alt="">
                            </a>
                            <!--end::Icon-->
                            <!--begin::Icon-->
                            <a href="#" class="mx-4">
                                <img src="../../assets/media/svg/brand-logos/pinterest-p.svg" class="h-30px my-2" alt="">
                            </a>
                            <!--end::Icon-->
                            <!--begin::Icon-->
                            <a href="#" class="mx-4">
                                <img src="../../assets/media/svg/brand-logos/twitter.svg" class="h-30px my-2" alt="">
                            </a>
                            <!--end::Icon-->
                            <!--begin::Icon-->
                            <a href="#" class="mx-4">
                                <img src="../../assets/media/svg/brand-logos/dribbble-icon-1.svg" class="h-30px my-2" alt="">
                            </a>
                            <!--end::Icon-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Card-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::About card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
