@{
    ViewBag.Title = "Dashboard";
}

<div>
    <ng-view></ng-view>
</div>

@section Scripts{
    <script src="~/Scripts/AngularController/Routing.js"></script>
    <script src="~/Scripts/angularApi/angular-resource.min.js"></script>
    <script src="~/Scripts/angularApi/services.js"></script>
}

